<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   
    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of userPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list *ngIf="admin==true">
      <ion-list-header>
        Admin
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of adminPages" (click)="openPage(p)">
        <ion-icon item-left [name]='p.icon'></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        account
      </ion-list-header>
      <button ion-item (click)="signout()">
        <ion-icon item-left name='log-out'></ion-icon>
        signout
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>