<ion-header>

  <ion-navbar>
    <ion-title>create/update card</ion-title>

  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionInput)="sortUsers()">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
      <ion-refresher (ionRefresh)="refreshAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <form [formGroup]="cardForm" (ngSubmit)="saveUpdateCard(cardForm.value)">
    <ion-list>
      <ion-list-header>card detail</ion-list-header>
      <!--name -->
      <ion-item [class.error]="!name.valid && name.touched">
        <ion-label floating>card name</ion-label>
        <ion-input type="text" value="{{name.value}}" [formControl]="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="name.hasError('required') && name.touched" class="error-box">* name is required.</ion-item>
      <ion-item *ngIf="name.hasError('isValid') && name.touched" class="error-box">* Enter a valid name </ion-item>

      <!--category -->
      <ion-item [class.error]="!category.valid && category.touched">
        <ion-label floating>category</ion-label>
        <ion-select [formControl]="category" name="category">category
          <ion-option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="category.hasError('required') && category.touched" class="error-box">* category is required.</div>
      <button ion-button type="submit" class="custom-button" [disabled]="!cardForm.valid" block>{{updateOrSave? "Update" : "Save"}}</button>
    </ion-list>
  </form>
  <!--user -->
  <ion-list *ngIf="updateOrSave"> 
    <ion-item-group *ngFor="let school of displayUsers ">
      <ion-item-divider color="secondary">{{school.schoolName}}</ion-item-divider>
      <ion-item *ngFor="let user of school.schoolUsers">
        <ion-label>{{user.fullName}}</ion-label>
        <ion-toggle [ngModel]="user.checked" (ngModelChange)="pushUserToCard($event, user)"></ion-toggle>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <h3 *ngIf="!updateOrSave"> to allocate users, please First create card</h3>
</ion-content>