<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
    </button>
        <ion-title>Profile</ion-title>
        <ion-buttons end>
            <button ion-button (click)="openImageOptions()">
            <ion-icon name="camera"></ion-icon>
      </button>
            <button ion-button (click)="reload()">
        <ion-icon name="refresh"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="userDataLoaded==true">
        <ion-card-content>
            <ion-avatar item-left>
                <img [src]="user.img">
            </ion-avatar>
            <h2>{{user.fullName}}</h2>
            <p>{{user.email}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="userDataLoaded==true">
        <ion-card-header>user details</ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>phone: {{user.phone}}</ion-item>
                <ion-item>school: {{user.school}}</ion-item>
                <ion-item>first name: {{user.firstName}}</ion-item>
                <ion-item>last name: {{user.lastName}}</ion-item>
                <ion-item>username: {{user.username}}</ion-item>
                <ion-item>email: {{user.email}}</ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="userDataLoaded==true">
        <ion-card-header>
            Activity
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    <h2>user topics</h2>
                </ion-list-header>
                <ion-item *ngFor="let commant of user.commants">
                    <button ion-button  (click)="showComant(commant)">{{commant.title}}</button>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    <h2>user commants</h2>
                </ion-list-header>
                <ion-item *ngFor="let commant of user.votes">
                    <button  outline ion-button (click)="showComant(commant)">{{commant.title}}</button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>