<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
     </button>
    <ion-title>all Cards</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Search" [(ngModel)]="queryText" (ionInput)="sortCards()">
    </ion-searchbar>
    <ion-row>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-group *ngFor="let category of displayCards ">
      <ion-item-divider color="secondary">{{category.categoryName}}</ion-item-divider>
      <button ion-item *ngFor="let card of category.categoryCards" (click)="pushToCardDetails($event, card)">
                {{card.name}}
            </button>
    </ion-item-group>
  </ion-list>

</ion-content>